body {
	font-family: var(--ff-primary);
	font-size: var(--fz-400);
}

h1,
h2,
h3 {
	font-family: var(--ff-secondary);
	font-weight: var(--fw-300);
}

h1 {
	font-size: var(--fz-700);
}

h2 {
	font-size: var(--fz-600);
}

h3 {
	font-size: var(--fz-500);
}
